body {
    background-color: rgb(44, 44, 44);
    margin: 0;
    overflow: hidden;
}

.buttonGroup {
    margin-top: 2px;
    display: flex;
    justify-content: center;
}

.sizeGroup {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.btn {
    margin: 2px;
}
.flex-container {
    border: 1px solid teal;
    background-color: grey;
    height: 66vh;
    width: 66vh;
    margin: auto;
    margin-top: 20px;
    display: flex;
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
}

.gridItem {
    border: 1px solid teal;
}